<nav
  class="header d-flex flex-row flex-justify-content-between p20 flex-align-items-center mb20"
>
  <div routerLink="" class="d-flex flex-row flex-align-items-end logo">
    <div class="circle mr10"></div>
    <a class="name mr20">Brahim Zitoun</a>
    <span> Développeur</span>
  </div>

  <ul class="separator">
    <li routerLink="resume" routerLinkActive="active" class="p20">Resume</li>
    <li routerLink="projects" routerLinkActive="active" class="p20">
      Projects
    </li>
    <li routerLink="contact" routerLinkActive="active" class="p20">Contact</li>
  </ul>
</nav>
