<div
  class="container d-flex flew-row flex-align-items-center flex-align-items-between p50"
>
  <div class="image">
    <img src="../../assets/luffy.jpg" />
  </div>
  <div class="greeting d-flex flex-column">
    <h1>HELLO</h1>
    <div class="d-flex flex-column">
      <h2>A bit about me</h2>
      <p class="mb20">
        I'm a paragraph. Click here to add your own text and edit me. I’m a
        great place for you to tell a story and let your users know a little
        more about you.
      </p>
      <div class="d-flex flex-row flex-justify-content-between">
        <button routerLink="resume" class="btn btn-primary">Resume</button>
        <button routerLink="projects" class="btn btn-secondary">
          Projects
        </button>
        <button routerLink="contact" class="btn btn-tertiary">Contact</button>
      </div>
    </div>
  </div>
</div>
